<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignIn Page</title>
</head>
<body>
    <h1>SignIn</h1>
    <% if (locals.errorMsg) { %>
            <h2 style="color: red;"><%= errorMsg %></h2>
    <% } %>
    <form method="post" action="/user/signin">
       
        <label for="email">Email</label>
        <input type="email" name="email" id="email">
       
        <label for="password">Password</label>
        <input type="password" name="password" id="password">

        <button type="submit">Login</button>

    </form>
    <div style="margin-top:10px">
        <a href="/signup">Signup</a>
    </div>
</body>
</html>